In [1]:
import pandas as pd

In [65]:
data_2020_06 = "Data/JC-202006-citibike-tripdata.csv"
data_2020_07 = "Data/JC-202007-citibike-tripdata.csv"
data_2020_08 = "Data/JC-202008-citibike-tripdata.csv"
data_2020_09 = "Data/JC-202009-citibike-tripdata.csv"
data_2020_10 = "Data/JC-202010-citibike-tripdata.csv"
data_2020_11 = "Data/JC-202011-citibike-tripdata.csv"
data_2020_12 = "Data/JC-202012-citibike-tripdata.csv"
# data_2021_01 = "Data/JC-202101-citibike-tripdata.csv"
# data_2021_02 = "Data/JC-202102-citibike-tripdata.csv"
# data_2021_03 = "Data/JC-202103-citibike-tripdata.csv"
# data_2021_04 = "Data/JC-202104-citibike-tripdata.csv"
# data_2021_05 = "Data/JC-202105-citibike-tripdata.csv"

In [66]:
all_data = [data_2020_06, data_2020_07, data_2020_08, data_2020_09, data_2020_10, data_2020_11, data_2020_12]

In [67]:
data_list = []

for all_d in all_data:
    data_list.append(pd.read_csv(all_d));

In [68]:
bike_data = pd.concat(data_list, sort=False)
bike_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [69]:
bike_data.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.357560e+05,235756.000000,235756.000000,235756.000000,235756.000000,235756.000000,235756.000000,235756.000000,235756.000000,235756.000000
mean,1.689984e+03,3302.922288,40.722159,-74.046692,3301.259450,40.721592,-74.045681,41552.367978,1981.526184,1.077012
std,1.931818e+04,184.290798,0.007440,0.012048,191.050376,0.118840,0.216001,5741.361964,11.158378,0.651432
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1888.000000,0.000000
25%,3.700000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716540,-74.050656,42178.000000,1969.000000,1.000000
50%,7.000000e+02,3209.000000,40.721124,-74.043845,3209.000000,40.721124,-74.043845,42460.000000,1984.000000,1.000000
75%,1.558000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,44406.000000,1991.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,0.000000,49734.000000,2004.000000,2.000000

In [37]:
bike_data.to_csv("Data/combine_bike_data.csv")